In [25]:
import pandas as pd
import numpy as np
#import plotly.graph_objects as go

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

## Importing the Data & Cleaning

In [13]:
df = pd.read_excel('./data/parrots_anon.xlsx')
df.tail()

,Common_name,Scientific_name,IUCN Rd Lst Status,General_continent,Description
403,Long-billed corella,C. tenuirostris,LC,Australia,A white parrot with a crest and a red mask
404,New Zealand kākā,N. meridionalis,EN,Australia,A light brown-grey parrot with maroon spots on...
405,Norfolk kākā,†N. productus,EX,Australia,A brown parrot with orange-and-red cheeks and ...
406,Kea,N. notabilis,VU,Australia,A green parrot with a light-brown head and a b...
407,Kakapo,S. habroptilus,CR,Australia,"A stocky, green parrot with black spots on the..."

In [15]:
df.columns = ['Common_name', 'Scientific_name', 'IUCN Red List Status', 'General_continent', 'Description']

In [17]:
df.tail()

,Common_name,Scientific_name,IUCN Red List Status,General_continent,Description
403,Long-billed corella,C. tenuirostris,LC,Australia,A white parrot with a crest and a red mask
404,New Zealand kākā,N. meridionalis,EN,Australia,A light brown-grey parrot with maroon spots on...
405,Norfolk kākā,†N. productus,EX,Australia,A brown parrot with orange-and-red cheeks and ...
406,Kea,N. notabilis,VU,Australia,A green parrot with a light-brown head and a b...
407,Kakapo,S. habroptilus,CR,Australia,"A stocky, green parrot with black spots on the..."

In [23]:
df.Scientific_name = df.Scientific_name.str.replace('†', '')

In [26]:
df.tail()

,Common_name,Scientific_name,IUCN Red List Status,General_continent,Description
403,Long-billed corella,C. tenuirostris,LC,Australia,A white parrot with a crest and a red mask
404,New Zealand kākā,N. meridionalis,EN,Australia,A light brown-grey parrot with maroon spots on...
405,Norfolk kākā,N. productus,EX,Australia,A brown parrot with orange-and-red cheeks and ...
406,Kea,N. notabilis,VU,Australia,A green parrot with a light-brown head and a b...
407,Kakapo,S. habroptilus,CR,Australia,"A stocky, green parrot with black spots on the..."

## Exploratory Analysis