In [144]:
import pandas as pd
import numpy as np
#import plotly.graph_objects as go

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

## Importing the Data & Cleaning

In [145]:
df = pd.read_excel('./data/parrots_anon.xlsx')
df.tail()

,Common_name,Scientific_name,IUCN Rd Lst Status,General_continent,Description
403,Long-billed corella,C. tenuirostris,LC,Australia,A white parrot with a crest and a red mask
404,New Zealand kākā,N. meridionalis,EN,Australia,A light brown-grey parrot with maroon spots on...
405,Norfolk kākā,†N. productus,EX,Australia,A brown parrot with orange-and-red cheeks and ...
406,Kea,N. notabilis,VU,Australia,A green parrot with a light-brown head and a b...
407,Kakapo,S. habroptilus,CR,Australia,"A stocky, green parrot with black spots on the..."

In [146]:
df.columns = ['Common_name', 'Scientific_name', 'Status_code', 'General_continent', 'Description']

In [147]:
df.tail()

,Common_name,Scientific_name,Status_code,General_continent,Description
403,Long-billed corella,C. tenuirostris,LC,Australia,A white parrot with a crest and a red mask
404,New Zealand kākā,N. meridionalis,EN,Australia,A light brown-grey parrot with maroon spots on...
405,Norfolk kākā,†N. productus,EX,Australia,A brown parrot with orange-and-red cheeks and ...
406,Kea,N. notabilis,VU,Australia,A green parrot with a light-brown head and a b...
407,Kakapo,S. habroptilus,CR,Australia,"A stocky, green parrot with black spots on the..."

In [148]:
df.Scientific_name = df.Scientific_name.str.replace('†', '')
df.Scientific_name = df.Scientific_name.str.strip()
df.Status_code = df.Status_code.str.strip()

In [157]:
df.tail()

,Common_name,Scientific_name,Status_code,General_continent,Description,Status
403,Long-billed corella,C. tenuirostris,LC,Australia,A white parrot with a crest and a red mask,Least concern
404,New Zealand kākā,N. meridionalis,EN,Australia,A light brown-grey parrot with maroon spots on...,Endangered
405,Norfolk kākā,N. productus,EX,Australia,A brown parrot with orange-and-red cheeks and ...,Extinct
406,Kea,N. notabilis,VU,Australia,A green parrot with a light-brown head and a b...,Vulnerable
407,Kakapo,S. habroptilus,CR,Australia,"A stocky, green parrot with black spots on the...",Critically endangered

### Importing IUCN status, and adding a column to original dataframe (For easier readability)

In [150]:
df_iucn_list = pd.read_excel("./data/iucn_status_list.xlsx")
df_iucn_list.tail()

,Status_code,Status,Status_description
4,VU,Vulnerable,meets one of the 5 red list criteria and thus ...
5,NT,Near threatened,close to being at high risk of extinction in t...
6,LC,Least concern,unlikely to become extinct in the near future.
7,DD,Data deficient,data deficient
8,NE,Not evaluated,not evaluated

In [165]:
iucn_status = {}

for index, row in df_iucn_list.iterrows():
    iucn_status[row['Status_code']] = row['Status']
    print(type(index))
    
print(iucn_status)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
{'EX': 'Extinct', 'EW': 'Extinct in the wild', 'CR': 'Critically endangered', 'EN': 'Endangered', 'VU': 'Vulnerable', 'NT': 'Near threatened', 'LC': 'Least concern', 'DD': 'Data deficient', 'NE': 'Not evaluated'}

In [152]:
df['Status'] = [iucn_status[x] for x in df['Status_code']]

In [153]:
df.tail()

,Common_name,Scientific_name,Status_code,General_continent,Description,Status
403,Long-billed corella,C. tenuirostris,LC,Australia,A white parrot with a crest and a red mask,Least concern
404,New Zealand kākā,N. meridionalis,EN,Australia,A light brown-grey parrot with maroon spots on...,Endangered
405,Norfolk kākā,N. productus,EX,Australia,A brown parrot with orange-and-red cheeks and ...,Extinct
406,Kea,N. notabilis,VU,Australia,A green parrot with a light-brown head and a b...,Vulnerable
407,Kakapo,S. habroptilus,CR,Australia,"A stocky, green parrot with black spots on the...",Critically endangered

# Exploratory Analysis

In [154]:
df.General_continent.value_counts()

South America    180
Australia        174
Africa            28
Asia              22
North America      4
Name: General_continent, dtype: int64

In [160]:
df.Status.value_counts()

Least concern            219
Near threatened           59
Vulnerable                54
Endangered                38
Critically endangered     17
Extinct                   15
Not evaluated              6
Name: Status, dtype: int64

### A look into extinct parrots

In [158]:
extinct_parrots = df.loc[df['Status_code'] == 'EX']
extinct_parrots.head(20)

,Common_name,Scientific_name,Status_code,General_continent,Description,Status
55,Carolina parakeet,C. carolinensis,EX,North America,"A green parrot with light-blue wings, yellow c...",Extinct
66,Cuban macaw,A. tricolor,EX,South America,"A red parrot with a yellow nape, blue wings, a...",Extinct
90,Guadeloupe parakeet,P. labati,EX,South America,A green parrot with a red forehead,Extinct
168,Martinique amazon,A. martinicana,EX,South America,A green parrot with a blue-grey head and a red...,Extinct
178,Guadeloupe amazon,A. violacea,EX,South America,A green parrot with a dark grey head and under...,Extinct
210,Society parakeet,C. ulietanus,EX,Australia,None,Extinct
212,Black-fronted parakeet,C. zealandicus,EX,Australia,"A green parrot with blue-tipped wings, a red b...",Extinct
222,Paradise parrot,P. pulcherrimus,EX,Australia,The females are yellow-brown with a black fore...,Extinct
344,Oceanic eclectus parrot,E. infectus,EX,Australia,Charcoal drawing of a parrot,Extinct
355,Newton's parakeet,P. exsul,EX,Africa,Drawing of blue parrot with darker wings and head,Extinct
359,Seychelles parakeet,P. wardi,EX,Asia,"Drawing of green parrot with blue neck ring, r...",Extinct
370,Mascarene grey parakeet,P. bensoni [l],EX,Africa,Drawing of a grey parrot with red beak,Extinct
371,Broad-billed parrot,L. mauritianus,EX,Africa,Drawing of black parrot,Extinct
372,Rodrigues parrot,N. rodricanus,EX,Africa,None,Extinct
405,Norfolk kākā,N. productus,EX,Australia,A brown parrot with orange-and-red cheeks and ...,Extinct

In [159]:
extinct_parrots.General_continent.value_counts()

Australia        5
Africa           4
South America    4
Asia             1
North America    1
Name: General_continent, dtype: int64